# My cookies, committing them to a public repo would not be a good idea
cookies.txt

# Downloaded types
*.png
*.jpg
*.json
*.gif
*.swf

# Default download folder
Submissions/

# vscode stuff
.vscode
list.txt
__pycache__
